bin/
play/
.idea/
._*
cfg-**.html
asm_tests/
.dub
a.out
*.o
*.as
docs.json
krug_cache/
__dummy.html
docs/
krug
krug.so
krug.dylib
krug.dll
krug.a
krug.lib
krug-test-*
main
*.exe
*.o
*.obj
*.lst
graph_file*
.dub/
.idea/
out/
*.iml

# vm object files/static libs
vm/*.o
vm/*.a
